 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
 body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


 }
 p{
    font-size: 10px;
    line-height: 10px;
    background: url(astro.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-mask-clip: text;
    -webkit-text-fill-color: #4e4c4c;


    
 }
